#boxanime {
  background: red;
  position: relative;
  
  animation: anima 5s alternate infinite;
  text-align:center;
  font-weight:normal;
  vertical-align:middle;
}

@keyframes anima {
 
  0%   {top: 0%; background: red; color:black !important; width: 100%;height:20%;}
 25%   {top: 20%; background:purple ;color:maroon !important; width: 100%;height:20%;}  
  50% {top: 40%; background: blue; color: teal !important; width: 100% ;height:20%;}
  75%	{top: 60%; background: green; color:aqua !important; width: 100% ;height:20%;}
  100% {top: 80%; background: black; color: silver !important; width: 100%;height:20%;}
}


#bigbox {
	width:100%;
	height:500px;
	border:10px black solid;
}

#linkk2 {
	color:inherit;
}