/* this is a stylesheet meant for a floating fixed button, code
from my previously built site modify */

#adminsigndiv1 {
    display: block;
    margin-top: 0px;
    margin-left: 0px;
    width: auto;
    height: auto;
    position: fixed;
    z-index: 999999;
    overflow: auto;
    border-radius: 5px 5px 0px 0px;
    font-weight: normal;
    font-family: Arial;
    bottom: -2px;
    right: 150px;
    padding: 6px 14px 6px 14px;
    font-size: 18px;
    color: #000000;
    background-color: #3489eb;
    text-align: center;
    cursor: pointer;
    border: none;
    text-decoration: none;
    box-shadow: 0 0 8px;
}
#adminsigndiv2 {
    display: block;
    margin-top: 0px;
    margin-left: 0px;
    width: auto;
    height: auto;
    position: fixed;
    z-index: 999999;
    overflow: auto;
    border-radius: 5px 5px 0px 0px;
    font-weight: normal;
    font-family: Arial;
    bottom: -2px;
    right: 40px;
    padding: 6px 14px 6px 14px;
    font-size: 18px;
    color: #000000;
    background-color: #3489eb;
    text-align: center;
    cursor: pointer;
    border: none;
    text-decoration: none;
    box-shadow: 0 0 8px;
}
/* Apply these styles to remove blue color and underline on hover */
#adminsigndiv1 a,
#adminsigndiv2 a {
  color: inherit; /* Use the same color as surrounding text */
  text-decoration: none; /* Remove underline */
}

/* Apply these styles to change the color when hovering */
#adminsigndiv1 a:hover,
#adminsigndiv2 a:hover {
    color: rgba(52, 137, 235, 0.5);  /* Change to the dimmer hover color */
}
