/* this is the style sheet for the home page index.html only

*/
html, body {
	max-width:100%;
	
	}

.list21 {
	text-align:right;
	vertical-align:middle;
	color:red;
	padding:5px;
	font-size:20px;	
}

#emptyspace {
  Height:4em;
}

#menuicon {
	background-color:inherit;
	color:black;
	border:none;
	width:auto;
	height:auto;
	

}

#homebody {

	background-color:black;
	color:silver;
	overflow-y: scroll;
}

.text1 {

margin:5px;


}

#foot {
	margin-top: 5px;
	 position:static;
	  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
	height: inherit;
}

#topcontent {
	margin-top:10px;
}


#bars {
	font-size:30px;
}
#barsmyacc {
	font-size:30px;
}

/* this is where media queries are  - - - - - - - - - - - - */


@media (min-width: 300px) {


#Home-p-Head {
	padding:0px;
	padding-top:7px;
	padding-bottom:15px;
}

#brand {
	text-transform:capitalize;
	cursor:pointer;
	font-size:2em;

	}
	#brandmyacc {
	text-transform:capitalize;
	cursor:pointer;
	font-size:1em;
}


#bars {
	font-size: 2em;
	color: silver;
}
#barsmyacc {
	font-size: 1em;
	color: silver;
}

}
@media (min-width: 400px) {


#Home-p-Head {
	padding:0px;
	padding-top:7px;
	padding-bottom:15px;
}

#brand {
	text-transform:capitalize;
	cursor:pointer;
	font-size:2.5em;
}
#brandmyacc {
	text-transform:capitalize;
	cursor:pointer;
	font-size:1.5em;
}

#bars {
	font-size: 2.5em;
	color: silver;	
}
#barsmyacc {
	font-size: 1.5em;
	color: silver;
}

}
@media (min-width: 700px) {

#brand {
	text-transform:capitalize;
	cursor:pointer;
	font-size:3em;
}
#brandmyacc {
	text-transform:capitalize;
	cursor:pointer;
	font-size:2em;
}
#barsmyacc {
	font-size: 2em;
	color: silver;
}


#bars {
	font-size: 3em;
	color: silver;
}

} 

@media (min-width: 1000px) {

#brand {
	text-transform:capitalize;
	cursor:pointer;
	font-size:3.5em;
}
#brandmyacc {
	text-transform:capitalize;
	cursor:pointer;
	font-size:2.5em;
}

#barsmyacc {
	font-size: 2.5em;
	color: silver;
}

#bars {
	font-size: 3.5em;
	color: silver;
}

			

#menuicon {
	background-color:inherit;
	border:none;
	width:auto;
	height:auto;
	

}


}

@media (min-width: 1500px) {

#brand {
	text-transform:capitalize;
	cursor:pointer;
	font-size:4em;
}
#brandmyacc {
	text-transform:capitalize;
	cursor:pointer;
	font-size:3em;
}
#barsmyacc {
	font-size: 3em;
	color: silver;
}

#bars {
	font-size: 4em;
	color: silver;
}


#menuicon {
	background-color:inherit;
	border:none;
	width:auto;
	height:auto;
	

}

	
}
@media (min-width: 2000px) {

#brand {
	text-transform:capitalize;
	cursor:pointer;
	font-size:5em;
}
#brandmyacc {
	text-transform:capitalize;
	cursor:pointer;
	font-size:4em;
}
#barsmyacc {
	font-size: 4em;
	color: silver;
}


#bars {
	font-size: 5em;
}


#menuicon {
	background-color:inherit;
	border:none;
	width:auto;
	height:auto;
	

}

	
}

@media (max-width: 300px) {


#Home-p-Head {
	padding:0px;
	padding-top:7px;
	padding-bottom:15px;
	margin:0px;
}

#bars {
	font-size: 2em;
	color:silver;
}

#brand {
	text-transform:capitalize;
	cursor:pointer;
	font-size:2em;


}
#brandmyacc {
	text-transform:capitalize;
	cursor:pointer;
	font-size:1.5em;


}
#barsmyacc {
	font-size: 1.5em;
	color: silver;
}


/* this is where media queries end - - - - - - - - - -  */



.cursor {
	cursor:pointer;
	
	}

	
}
