/* this is the style sheet for the home page index.html only

*/
html, body {
	max-width:100%;
	overflow-x: hidden;
}

#cursor {
	cursor:pointer;
	
	}
#backlink {
	background-color:white;
	color:red;
}

#brand {
	text-transform:capitalize;
	cursor:pointer;
}

.list21 {
	text-align:right;
	vertical-align:middle;
	color:red;

}

#homebody {
background-image:url('Saved Pictures/revised1.jpg');


background-repeat:no-repeat;
	color:silver;
	
		
}


/* this is the style sheet for cour-index only 

*/

#courbody {
		font-family:Georgia, "Times New Roman", Times, serif;
		background-color:black;
		color:silver;

		
		 
}


#modtef {
	margin:7px;
		
}
	

body .container {
	padding:0px;
	margin:0px;
	margin-left:20px;

}