#editor-container {
    height: 350px;
  }
  
  .containerright {
    margin-bottom: 10px;
    text-align: right;
  }
  
  .containerright a,
  container a {
    font-family: Helvetia, sans-serif;
  }