#taylor {
	border:thick black double;
 margin-right:50px
	
}
#were {
 margin-right:500px;
	border:thick black double;
	width: 469px; height: 21px
}
#calabonga {
margin-left:500px;
border:thick black double;
 width: 676px
 
 }
 

 
 
#backhome2 {
	font-size:x-large;
}

#personalbody {
	background-color:black;
	color:silver;
}